@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  
  @media screen and (min-width: 768px) {
    padding: 32px;
    background-color: var(--charcoal);
  }

  @media screen and (min-width: 1024px) {
    padding: 64px;
  }

  @media screen and (min-width: 1440px) {
    padding: 128px;
  }
}

.thankyou-modal {
  display: none;
}


.container {
  margin: 0 auto;

  #desktop-image {
    display: none;
  }

  #mobile-image {
    width: 100%;
    object-fit: cover;
  }

  .wrapper {
    padding: 30px 26px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1 {
      font-size: 40px;
      line-height: 1.25;
    }

    @media screen and (min-width:1440px){
      h1 {
        font-size: 54px;
      }
    }
    
    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 4px;
    }

    ul > li {
      display: flex;
      align-items: flex-start;
      gap: 18px;
      list-style: none;
      line-height: 1.4;
    }

    form {
      margin-top: 12px;

      label {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 700;

        input {
          max-width: 375px;
          outline: none;
          padding: 20px;
          margin-top: 12px;
          border-radius: 8px;
          border: 1px solid var(--grey);
        }
      }

      button {
        max-width: 375px;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        outline: none;
        border: 1px solid var(--dark-slate-grey);
        border-radius: 8px;
        background-color: var(--dark-slate-grey);
        color: var(--white);
        font-size: 16px;
        font-weight: 400;

        &:hover {
          cursor: pointer;
          background-color: var(--tomato);
          border-color: var(--tomato);
          transition: background-color 0.4s ease-in-out, border-color 0.2s ease-in-out;
        }
      }
    }
  }

  @media screen and (min-width: 768px) { 
    max-width: 932px;
    padding: 32px;
    border-radius: 32px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: var(--white);

    #mobile-image { 
      display: none;
    }

    #desktop-image {
      display: inline;
    }
  }
}

.attribution {
  width: 100%;
  margin-top: 16px;
  text-align: center;

  p {
    font-size: 16px;
    font-weight: 400;
    color: var(--tomato);
  }

  @media screen and (min-width: 768px) {
    a {
      color: var(--white);
    }
  }
}